<ul class="custom-nav nav">
  <li class="">
    <%= link_to "Home", root_path %>
  </li>
  <li class="">
    <%= link_to "Sign in with Goodreads", oauth_auth_link_path, class: "btn auth-btn" %>
    <%= link_to "View my Goodreads books", books_path, class: "btn auth-btn" %>
    <%= link_to "See shelves", shelves_path, class: "btn auth-btn" %>
  </li>
</ul>